/* Polices personalisées */

@font-face {	
	font-family: 'Amble-Regular';
	src: url('Fonts/Amble/Amble-Regular.ttf');
}

@font-face {
	font-family: 'Amble-Bold';
	src: url('Fonts/Amble/Amble-Bold.ttf');
}

@font-face {
	font-family: 'Amble-Light';
	src: url('Fonts/Amble/Amble-Light.ttf');
}

@font-face{
	font-family: 'Lato-Black';
	src: url('Fonts/Lato/Lato-Black.ttf');
}

@font-face{
	font-family: 'Lato-Bold';
	src: url('Fonts/Lato/Lato-Bold.ttf');
}

@font-face{
	font-family: 'Lato-Regular';
	src: url('Fonts/Lato/Lato-Regular.ttf');
}

@font-face{
	font-family: 'Lato-Light';
	src: url('Fonts/Lato/Lato-Light.ttf');
}

@font-face{
	font-family: 'Quicksand-Regular';
	src: url('Fonts/Quicksand/Quicksand-Regular.otf');
}

@font-face{
	font-family: 'Quicksand-Bold';
	src: url('Fonts/Quicksand/Quicksand-Bold.otf');
}

/* fin police perso */

/* page web */

body {
	margin:0;
	background-color: #F1F1F1;
}

#bloc_page{
	width:1020px;
	margin-left:170px;
	margin-bottom:auto;
	margin-right:176px;
	margin-top:auto;
	background-color: #F1F1F1;
}

/* fin bloc page */

/* header */

header {
	width:1366px;
	background-color: #2980B9;
	margin:auto;
}

#top {
	width:1366px;
	margin:auto;
	position:fixed;
	height:45px;
	padding-top:-20px;
	color:#F1F1F1;
	left:0px;
	top:0px;
	background-color: #2980B9;
	z-index: 1;}

#top ul {
    list-style-type: none;
    vertical-align: middle;
}

#top li {
	display:inline-block;
}

#top #ajouter_logement {
	position:absolute;
	top:10px;
	left:0px;
	width:auto;
	text-align:left;
	margin:auto;
	font-family: 'Quicksand-Regular';
	font-size: 20px;
}

.ajout {
	position:absolute;
	top:10px;
	left:12px;
	width:auto;
	text-align:left;
	margin:auto;
	vertical-align: middle;
	display:inline-block;
}

#top #connexion {
	position:absolute;
	top:13px;
	right:10px;
	width:auto;
	text-align:right;
	margin-right:20px;
	margin-bottom:auto;
	margin-left:auto;
	margin-top:auto;
	font-family: 'Quicksand-Regular';
}

.lien_header {
	color:#F1F1F1;
	text-decoration: none;
}

.lien_header:hover {
	text-shadow:2px 2px 5px #F1F1F1;
}

/* fin header */

/* Bloc Haut */

#bloc_haut {
	position:relative;
	width:1020px;

}

	/* bannière */

	#banniere {
		position:relative;
		color:#F1F1F1;
		text-align: center;
		
		
	}

	#mot_banniere {
		position:absolute;
		left:260px;
		top:25px;
		vertical-align: center;
		width:500px;
	}

	#mot_banniere1{
		font-family: 'Lato-Light';
		font-size: 240%;
		position: absolute;
		left:230px;
		top:15px;
		vertical-align: center;
		width:500px;
		display:block;
	}

	#mot_banniere2{
		font-family: 'Amble-Bold';
		font-size: 240%;
		position: absolute;
		left:240px;
		top:47px;
		vertical-align: center;
		width:500px;
		display:block;
	}

	/* fin bannière */

	/* Barre de navigation */

	nav {
		position:relative;
		height:45px;
		border-bottom: solid 5px #BDC3C7;
		width:1024px;
		margin-left:170px;
	}

	nav ul {
	    list-style-type: none;
	    display:inline-block;
	    word-spacing: 30px
	}

	nav li {
		display:inline-block;
	}

	nav a {
		text-decoration: none;
		color:#7F8C8D;
		font-family:'Quicksand-Regular';
		font-size:230%;
	}

	nav a:hover {
		background-color: #E4E4E4;
		border-radius: 3px;
		padding: 1px 0px 1px 0px;
	}

	#nav1 {
		position:absolute;
		left:-30px;
		top:-15px;
		letter-spacing: -2px
	}

	#nav2 {
		position:absolute;
		right:10px;
		top:-15px;
		letter-spacing: -2px
	}
	/* Fin barre navigation */

	/* Logo */

	#logo {
		position:absolute;
		width:180px;
		height:180px;
		left:584px;
		top:27%;
	}

	/* Fin logo */

	/* Barre de recherche */

	#barre_de_recherche {
		background-color: #2980B9;
		border-radius: 10px;
		height:80px;
		margin-left:170px;
		margin-top:40px;
		padding-top:20px;
		padding-left:15px;
		width:1024px;
	}

	#barre_de_recherche p {
		display:inline-block;
		color:#F1F1F1;
		font-family:'Quicksand-Regular';
	}

	#type_de_logement {
		width:200px;
	}

	#ou_voulez {
		position:absolute;
		left:15px;
		top:375px;
	}

	#a_quelle {
		position:absolute;
		right:145px;
		top:375px;
	}

	.donnee {
		border-radius: 5px;
		height:35px;
		padding-left:5px;
		color:#BEBEBE;
	}

	#blanc1 {
		position:absolute;
		top:419px;
		left:715px;
	}

	#blanc2 {
		position:absolute;
		top:419px;
		left:867px;
	}

	#rechercher {
		color:#7F8C8D;
		font-family: 'Quicksand-Regular';
		background-color: #F1F1F1;
		border-radius:5px;
		padding: 2px 2px 2px 2px;
		width:120%;
		height:35px;
	}
	/* Fin barre de recherche */

/* Fin bloc Haut */

#divider2 {
	margin:auto;
	display:block;
}

/* Article */

article {
	width: 750px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
	position:relative;
}

#dernier_ajout {
	background-color: #E4E4E4;
	padding:20px 20px 2px 20px;
	border-radius: 10px;
}

#img_000001 {
	display: inline-block;
	width:auto;
}

article ul {
	display:inline-block;
    width:350px;
    vertical-align: top;
    color:#7F8C8D;
    font-family: 'Lato-Regular';
    font-size: 100%;
    height:200px;
}

article h2 {
	font-family:'Lato-Light';
	color:#7F8C8D;
	text-align:center;
}

.info_logement_x {
	font-weight:bold;
}

.voir_habitation {
	text-decoration: none;
	color:#F1F1F1;
	font-family: 'Lato-Regular';
	background-color: #2980B9;
	border-radius: 3px;
	padding: 4px 4px 4px 4px;
	position:absolute;
	width:auto;
	right:18px;
	bottom:25px;
	font-size: 130%;
}

.voir_habitation:hover {
	box-shadow: 1px 1px 5px #2980B9; 
}

/* Fin article */

/* footer */

footer {
	width:100%;
	background-color: #424242;
	margin:auto;
	border-top: 5px solid #605F5F;
}

#footer {
	width:1366px;
	margin:auto;
	position:relative;
	height:130px;
	padding-top:-20px;
	color:#F1F1F1;
}

#footer ul {
    list-style-type: none;
    vertical-align: middle;
    position:absolute;
	top:10px;
	left:0px;
	width:auto;
	text-align:left;
	margin:auto;
	font-family: 'Quicksand-Regular';
	font-size: 100%;
}

#footer #texte_footer {
	position:absolute;
	top:13px;
	right:10px;
	width:50%;
	height: auto;
	text-align:right;
	margin-right:20px;
	font-family: 'Quicksand-Regular';
	font-size:80%;
	color:#F1F1F1;
}

#footer a {
	text-decoration: none;
	color:#F1F1F1;
}

#footer a:hover {
	text-decoration: underline;
}

#footer #tout_droits {
	position:absolute;
	bottom:0px;
	left:608px;
	width:204px;
	color:#5B5B5B;
	font-size:80%;
	font-family:'Quicksand-Regular';
}

/* Fin Footer */
